<<<<<<< .mine
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.button1 {
	background-color: red;
    color: white;    
	position: absolute;
    top: 200px;
    left: 800px;
    padding: 80px 80px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    font-size: 100;
}

.button2 {
    background-color: red;
    color: white;    
    position: absolute;
    top: 600px;
    left: 800px;
    padding: 80px 80px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    font-size: 100;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.container {
    padding: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 600;
    top: 0;
    width: 50%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

div.relative {
    position: relative;
    font-size: 35px;
    color: white;
    left: 800px;
    font-weight: bold;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
</style>
</head>
<body>

<button class = "button1" onclick="document.getElementById('id01').style.display='block'">Create Grid</button>

<div id="id01" class="modal">
  
  <form class="modal-content animate" action="http://localhost/cgi-bin/GandaGalo?" method="get">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close">&times;</span>
    </div>

    <div class="container">
      <label for="lins"><b>Lines</b></label>
      <input type="text" placeholder="Lines" name="lins" required>

      <label for="cols"><b>Columns</b></label>
      <input type="text" placeholder="Columns" name="cols" required>
      
      <label for="dif"><b>Dificulty</b></label><br>
      <input type="radio" name="dif" value="1" required> 1 <br>
      <input type="radio" name="dif" value="2" required> 2 <br>
        
      <button type="submit">Create Grid</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
    </div>
  </form>
</div>

<button class = "button2" onclick="document.getElementById('id02').style.display='block'">Choose</button>

<div id="id02" class="modal">
  
  <form class="modal-content animate" action="http://localhost/cgi-bin/GandaGalo?" method="get">
  <div class="imgcontainer">
      <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close">&times;</span>
    </div>

    <div class="container">
      <label for="nomeMapa"><b>Numero do mapa</b></label> 
      <input type="text" placeholder="Numero do mapa" name ="Lr" required>
        
      <button type="submit">Load</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
    </div>
  </form>
</div>

</body>
