<style>

body {font-family: Arial, Helvetica, sans-serif;}
div.relative {
    position: relative;
    font-size: 35px;
    color: white;
    left: 900px;
    top: 100px;
    font-weight: bold;
}

</style>